*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box}
a{outline:none;text-decoration:none}
img{outline:none;border:0 none;}
input,input button{outline:none;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;}
textarea{outline:none;resize:none}
strong, b{font-weight: bold;}
ol, ul {list-style: none;list-style-type: none;}
.clearfix:before,
.clearfix:after{content:".";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
body{font-size: 13px;font-weight:100;background-color: #011325 ;color:#ccc;font-family: 'Open Sans', arial,sans-serif;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;line-height: normal;
}

.container{position: relative;}
section{position: relative;width: auto;height: 100%;}
.mid-wrapper{position: relative;margin: 0 auto; width: 1366px;}
.fullheight-content{height: 100vh;}

header{position: relative;background-color: #011325;/*background: url(../../content/img/bg.jpg) no-repeat center center;background-size: cover;background-attachment: fixed;*/}

.footer{position: fixed;height: 50px;background-color: #105d82;line-height: 50px;text-align: center;bottom: 0;width: 100%}
section.row-one{background-color: #011325;border-top: 1px solid #105d82;}


/* header section css starts */

.top-bar{position: fixed;width: auto;height: 50px;line-height: 50px;background-color: #105d82;top: 0;left: 0;right: 0;z-index: 99;}
.top-bar .site-logo{position: relative;display: block;width: auto;max-width:300px;float: left;    margin-left: 20px;}
.top-bar .site-logo a{font-size: 20px;text-transform: uppercase;font-weight: 600;}
.top-bar a{position: relative;display: block;float: right;color:#eee;}
.top-bar ul{padding: 0 15px;}

.content{position: fixed;width: 500px;left: 50%;margin-left: -250px;height: 330px;top:50%;margin-top: -165px;text-align: center;border-radius: 5px;text-align: center;/*background-color: rgba(0,0,0,0.5);*/}
.profile-pic {position: relative;width: 150px;height: 150px;background-color: #105d82;border-radius: 50%;margin: 10px auto;background: #105d82 url(../../content/img/mypic1.jpg) no-repeat center center;background-size: 100% 100%;}
.myname p {font-size: 30px;}
.mydetails p{font-weight: 100;font-size: 20px;}
.mybutton{color: #eee;padding: 10px 25px; background-color: #105d82;clear: both;position: relative;display: inline-block;margin-top: 5px;text-transform: uppercase;}
.mybutton:hover{background-color: #484e58;}
.section-button{position: fixed;height: 40px;top:50%;margin-top:-20px;right:25px;width: auto;display: inline-block;text-align: center;z-index: 999;}
.section-button a{color: #105d82;display: block;transform: scale(1.0);}
.section-button a:hover{color: #fff;transform: scale(1.1);}
/* header section  css ends*/

/* about me section css starts */

.about-content{position: absolute;width: 500px; height: 224px;top: 50%;margin-top: -112px;left: 50%;margin-left: -250px;}
.about-content .heading{position: relative;display: block;text-align: center;margin-top: 15px;font-size: 30px;text-transform: uppercase;font-weight: 500;}
.about-content .mydesc{text-align: center;padding: 30px 0;}
.about-content p{font-size: 20px;line-height: 25px;}

.social-links{position: relative;width: auto;margin: 0 auto;text-align: center;}
.social-links li{position: relative;display: inline-block;width: 20%;float: left;color:#fff;}
.social-links li a{color: #fff;font-size: 30px;}
.social-links li a:hover{color: #105d82}

/* about me section css ends */








/* Media queries starts */

@media only screen and (max-width: 1355px) {
	.mid-wrapper{width: auto;}

}

@media only screen and (max-width: 767px) {
	.content{height: 220px;margin-top: -110px; }
	.profile-pic {width: 75px;height: 75px;}
	.myname p {font-size: 19px;}
	.mydetails p{font-weight: 100;font-size: 14px;}
	.social-links{width: 80%;}


	.about-content .heading{font-size: 19px;line-height: 24px;}
	.about-content .mydesc p{font-weight: 100;font-size: 14px;line-height: 19px}

}

@media only screen and (max-width: 599px) {
	.content, .about-content{    width: auto;left: 0;right: 0;margin-left: 0;padding: 0 50px;}	
}

/* Media queries end */


/* ----------- iPhone 4 and 4S ----------- */

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	.section-button{    bottom: 130px;right: 10px;text-align: right;}
}



/* ----------- iPhone 5 and 5S ----------- */



/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */



/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
	.section-button{    bottom: 150px;right: 10px;text-align: right;}
}

/* ----------- iPhone 6+ ----------- */



/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
	.section-button{    bottom: 180px;right: 10px;text-align: right;}
}